" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" you can find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc
source ~/.vimrc
set breakindent
" ide specific options
set ideastatusicon=gray
set ideawrite=file
set visualdelay=50
set ideajoin
set ideamarks
" enable ideavim plugins https://jb.gg/ideavim-plugins
set commentary
set surround
set highlightedyank
" map ide actions to ideavim -- https://jb.gg/abva4t
nmap <leader>ff <action>(GotoFile)
vmap <leader>ff <action>(GotoFile)
nmap <leader>e <action>(ShowNavBar)
nmap <leader>b <action>(Switcher)
nmap <leader>gg <action>(FindInPath)
vmap <leader>gg <action>(FindInPath)
nmap <leader>ga <action>(SearchEverywhere)
nmap gq <action>(ReformatCode)
vmap gq <action>(ReformatCode)
nmap <C-]> <action>(GotoDeclaration)
nmap gi <action>(GotoImplementation)
nmap gr <action>(FindUsages)
nmap ga <action>(GotoAction)
nmap K <action>(ShowHoverInfo)
nmap gt <action>(GotoTest)
nmap gx <action>(RunClass)
nmap gX <action>(RunMenu)
nmap - <action>(SelectInProjectView)
nmap <C-n> <action>(GotoNextError)
nmap <C-p> <action>(GotoPreviousError)
nmap <C-w>o <action>(HideAllWindows)
" search current marked text in intellij only
vnoremap // "0y/\V<C-r>0<CR>
" clear highlights on search when pressing <esc> in normal mode
nnoremap <silent> <Esc> :nohlsearch<CR>
