" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" you can find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc
source ~/.vimrc
set colorcolumn=120
set breakindent
" ide specific options
set ideastatusicon=gray
set ideajoin
set ideamarks
set ideawrite=file
set visualdelay=50
" enable ideavim plugins https://jb.gg/ideavim-plugins
" already specified in .vimrc
" map ide actions to ideavim -- https://jb.gg/abva4t
nmap <leader>f <action>(GotoFile)
nmap <leader>F <action>(GotoClass)
nmap <leader>e <action>(ShowNavBar)
nmap <leader>b <action>(Switcher)
nmap <leader>g <action>(FindInPath)
vmap <leader>g <action>(FindInPath)
nmap <leader>/ <action>(SearchEverywhere)
nmap gq <action>(ReformatCode)
vmap gq <action>(ReformatCode)
nmap <C-]> <action>(GotoDeclaration)
nmap gi <action>(GotoImplementation)
nmap gr <action>(FindUsages)
nmap ga <action>(GotoAction)
nmap K <action>(ShowHoverInfo)
nmap gt <action>(GotoTest)
nmap gx <action>(RunClass)
nmap gX <action>(RunMenu)
nmap - <action>(SelectInProjectView)
nmap <C-n> <action>(GotoNextError)
nmap <C-p> <action>(GotoPreviousError)
nmap <C-w>o <action>(HideAllWindows)
nnoremap <silent> <Esc> :noh<CR>
vnoremap // "0y/\V<C-r>0<CR>
