" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" you can find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc

" source vimrc
source ~/.vimrc
" ide specific options
set ideajoin
set ideastatusicon=gray

" --- enable ideavim plugins https://jb.gg/ideavim-plugins
set commentary
set highlightedyank

" -- map ide actions to ideavim -- https://jb.gg/abva4t
nmap <leader>f <action>(GotoFile)
vmap <leader>f <action>(GotoFile)
nmap <leader>F <action>(GotoClass)
vmap <leader>F <action>(GotoClass)
nmap <leader>g <action>(FindInPath)
vmap <leader>g <action>(FindInPath)
nmap <leader>ss <action>(SearchEverywhere)
vmap <leader>ss <action>(SearchEverywhere)
nmap <leader>b <action>(Switcher)
nmap <leader>B <action>(SwitcherAndRecentFiles)
nmap <silent> gq <action>(ReformatCode)
vmap <silent> gq <action>(ReformatCode)
nmap <c-]> <action>(GotoDeclaration)
nmap gi <action>(GotoImplementation)
nmap gr <action>(FindUsages)
nmap ga <action>(GotoAction)
nmap K <action>(ShowHoverInfo)
nmap <leader>t <action>(GotoTest)
nmap gx <action>(RunClass)
nmap <leader>x <action>(RunMenu)
nmap - <action>(SelectInProjectView)
nmap <leader>e <action>(ShowNavBar)
nmap ]d <action>(GotoNextError)
nmap [d <action>(GotoPreviousError)
nmap Q <action>(HideAllWindows)
vnoremap // "0y/<c-r>0<cr>