@define-color bg #000000;
@define-color fg #ffffff;
@define-color gray #323232;
@define-color blue #285577;

* {
  font-family: Adwaita Sans, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: alpha(@bg, 0.65);
  color: @fg;
}

#workspaces {
  border: 3px solid alpha(@blue, 0.65);
}

#workspaces button {
  border-radius: 0;
}

#workspaces button.focused {
  background-color: alpha(@blue, 0.65);
}

#mode {
  border: 1px solid @gray;
  color: @gray;
  margin: 5px 0;
  padding: 0 3px;
}

#scratchpad {
  border: 1px solid @blue;
  color: @blue;
  margin: 5px 0;
  padding: 0 3px;
}

#idle_inhibitor {
  padding-right: 5px;
}

#idle_inhibitor.activated {
  color: @blue;
}
