@import "./rose-pine.css";

* {
  font-family: Adwaita Sans, sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: @black;
  color: @text;
  border: 3px solid @gray;
}

#workspaces {
  margin-left: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid @pine;
}

#clock {
  margin-right: 6px;
}

button {
  border-radius: 0;
}

#workspaces button {
  padding: 0 3px;
  background-color: @base;
}

#workspaces button.focused {
  background-color: @pine;
}

#mode {
  margin-left: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px 5px;
  border: 1px solid @iris;
  background-color: @surface;
  color: @muted;
}

#language {
  color: @pine;
}

#cpu {
  color: @rose;
}

#memory {
  color: @gold;
}

#temperature {
  color: @love;
}

#network {
  color: @iris;
}
