/**
mkdir -p ~/Library/Application\ Support/Firefox/Profiles/<default_profile>/chrome
cp ~/dotfiles/templates/userChrome.css ~/Library/Application\ Support/Firefox/Profiles/<default_profile>/chrome/userChrome.css
*/
.tab-text.tab-label{
  font-size: 12px;
}
#tabbrowser-tabs .tab-context-line {
  display: none;
}
#tabbrowser-tabs .tab-background {
  border: solid 2px var(--identity-icon-color) !important;
}
